<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
   <strong>Average Rating</strong>
   <%= @restaurant.reviews.average(:rating).to_f.round(1) %>
</p>

<h2>Reviews</h2>

<% if  @restaurant.reviews.count.zero? %>
  <h3>no ratings yet</h3> 
<% else %>
  <%= render @restaurant.reviews %>
<% end %>



<h2>Add a review:</h2>
<%= render 'reviews/form' %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
